<!-- views/index.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Video Recording App</title>
</head>
<body>
  <h1>Video Recording App</h1>

  <button id="recordButton">Start Recording</button>
  <p id="prompt"></p>

  <script src="/js/main.js"></script>
</body>
</html>